.wrapper{
    display: flex;
    padding: 5px;

    border: 1px grey solid;
    border-radius: 20px;
    max-width: 450px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.mainImg{
    position: relative;
    bottom: 1px;
    left: 6px;
}

.mainImg img{
    width: 230px;
}

.titleImg{
    position: absolute;
    top: 3px;
    right: 35px;
}

.titleImg img{
    width: 100%;
    max-width: 140px;
}

.info{
    padding-top: 5px;
}

.modification{
    display: flex;
    gap: 50px;
}

.count{
    display: flex;
}

.title{
    margin-bottom: 18px;
    
    font-family: "OpenSansB";
    font-size: 18px;
    font-weight: 800;
    line-height: 15px;
    letter-spacing: 0.3px;
}

.text{
    margin-bottom: 18px;
    
    font-family: "OpenSans";
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.4px;
}

.aboutBox{
    
}

.price{
    margin-bottom: 6px;
    
    font-family: "OpenSansB";
    font-size: 18px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.4px;
}

.size{
    font-family: "OpenSans";
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.4px;
}

.count{
    display: flex;
    align-items: center;
    // gap: 8px;
}

.countBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    font-size: 18px;

    background-color: red;
    color: #fff;
    border-radius: 5px;
    border: none;
}

.countDisplay{
    padding: 7px;

    font-family: "OpenSans";
    font-size: 20px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.4px;
    // border: grey 0.5px solid; 
}