.wrapper {
     display: flex;
     justify-content: space-around;
     padding: 5px;
     max-width: 850px;

     border: 1px grey solid;
     border-radius: 20px;
     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.mainImg {
     max-width: 300px;
     position: relative;
     bottom: 1px;
     left: 6px;
}

.mainImg > img {
     width: 60%;
}

.titleImg {
     position: absolute;
     top: 3px;
     right: 95px;
}

.titleImg img {
     width: 80%;
     max-width: 140px;
}

.info {
     padding: 5px;
}

.modification {
     display: flex;
     gap: 50px;
}

.count {
     display: flex;
}

.title {
     margin-bottom: 18px;

     font-family: 'OpenSansB';
     font-size: 20px;
     font-weight: 800;
     line-height: 15px;
     letter-spacing: 0.3px;
}

.text {
     margin-bottom: 18px;

     font-family: 'OpenSans';
     font-size: 14px;
     font-weight: 600;
     line-height: 16px;
     letter-spacing: 0.4px;
}

.aboutBox {
     width: 100px;
}

.price {
     margin-bottom: 6px;

     font-family: 'OpenSansB';
     font-size: 18px;
     font-weight: 600;
     line-height: 16px;
     letter-spacing: 0.4px;
}

.size {
     font-family: 'OpenSans';
     font-size: 14px;
     font-weight: 600;
     line-height: 16px;
     letter-spacing: 0.4px;
}

.count {
     display: flex;
     align-items: center;
}

.countBtn {
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 4px;

     font-size: 16px;
     border-radius: 5px;
}

.btnMinus {
     background-color: rgba(255, 0, 0, 0);
     color: black;
     border: 2px solid black;
}

.btnMinus:hover {
     cursor: pointer;
     background-color: black;
     color: #fff;
}

.btnPlus {
     background-color: rgba(255, 0, 0, 0);
     color: rgb(67, 207, 39);
     border: 2px solid rgb(67, 207, 39);
}

.btnPlus:hover {
     cursor: pointer;
     background-color: rgb(67, 207, 39);
     color: #fff;
}

.countDisplay {
     display: flex;
     justify-content: center;
     padding: 12px;
     width: 20px;

     font-family: 'OpenSans';
     font-size: 20px;
     font-weight: 600;
     line-height: 16px;
     letter-spacing: 0.4px;
}

.trashBtnWrap {
     display: flex;
     align-items: center;
     justify-content: center;
     margin-left: 10px;
}

.trashBtn {
     font-size: 20px;
}

.trashBtn:hover {
     cursor: pointer;
     color: rgba(0, 0, 0, 0.372);
}
