.addressListWrapper {
    margin-bottom: 50px;
}

.addressList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

@media (max-width: 480px) {

    .addressListWrapper {
        margin-bottom: 30px;
    }

}