@font-face {
  font-family: "AbrilFatface";
  src: url("./fonts/AbrilFatface/AbrilFatface-Regular.ttf");
}

@font-face {
  font-family: "OpenSans";
  src: url("./fonts/OpenSans/OpenSans-Light.ttf");
}

@font-face {
  font-family: "OpenSansB";
  src: url("./fonts/OpenSans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Caveat";
  src: url("./fonts/Caveat/Caveat-SemiBold.ttf");
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fffcfc;
  }
